$space-xxs: 0.25rem; // 4px
$space-xs:  0.5rem;  // 8px
$space-sm:  0.75rem; // 12px
$space-md:  1rem;    // 16px
$space-lg:  1.5rem;  // 24px
$space-xl: 3rem;    // 48px
$space-xxl: 4rem; // 64px
$space-g: 6.0rem; // 96px