@import "../helpers/spacing.scss";
@import "../helpers/font.scss";
@import "../helpers/colors.scss";

.card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.231);
  z-index: 2;
  transition: 0.3s;
}

.card-overlay:hover {
  background: rgba(255, 255, 255, 0.063);
  transition: 0.3s;
  transform: scale(1.05);
}

.project-card {
  width: 100%;
  max-width: 340px;
  min-width: 0;
  aspect-ratio: 4 / 3;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
  }

  p {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $color-white;
    font-size: 14px;
    font-weight: 700;
    z-index: 2;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.632);
    width: 100%;
    min-height: 44px;
    text-align: start;
    padding: 10px;
    margin: 0;
    transition: 0.4s;
  }
}

.project-card:hover {
  transform: scale(1.05);
  transition: 0.3s;

  p {
    transition: 0.8s;
    padding-left: 20px;
  }
}