@import '../helpers/spacing.scss';
@import '../helpers/colors.scss';
@import '../helpers/font.scss';

.tag-container{
    font-family: $font-primary;
    color: #060606 ;
    font-size: clamp(.6rem, 1.5vw, #{$fontsize-s});
    font-weight: 700;
    border-radius: 10px;
    background: linear-gradient(135deg, #fffff7, #f38e8e44);
    padding: $space-xxs clamp(#{$space-sm, 2.5vw, #{$space-lg}});
    transition: 0.5s;
}

.tag-container:hover{
    background: linear-gradient(150deg, #fffff7, #ef79794d);
    transform: scale(1.15);
    transition: 0.8s;
}