@import "../helpers/spacing.scss";
@import "../helpers/font.scss";
@import "../helpers/colors.scss";

.school-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 24px 70px rgba(24, 32, 47, 0.12);
  margin: $space-xl;
  padding: $space-xl;
  border-radius: 8px;
  width: 80vw;
}

.school-title{
  font-size: $fontsize-xl;
  margin-top: 0;
}

.school-grid {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.school-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $space-md;
  padding: $space-lg;
}

.school-name {
  font-size: $fontsize-l;
  margin: 0;
  font-weight: 600;
}

.school-degree {
  font-size: $fontsize-m;
  color: $color-gray;
  margin: 0;
}
